body{
    background: none repeat scroll 0% 0% #ECECEC;
    width: 100%;
    height: 100%;
}.container{
    width: 90%;height: 100%;margin: auto;
}
.container .edit_profile{
    float: right;
}
.container .edit_profile a{
    text-decoration: none;font-size: 10px;font-family: verdana,ariel;color: #000071;
}
.container .edit_profile a:hover{
    color: blue;
}.profile_image{
    width: 40%;float: left;height: 100%;
}.profile_info{
    width: 60%;float: right;height: 94%;
}.about{
    width: 100%;height: 200px;color: #7F919E;
}.info{
    width: 30%;height: 100%;float:left;
}.info ul{
    padding-top: 20px; font-size: 13px; color: #888;font-family: monospace;list-style: none;line-height: 38px;font-weight: bold;
}.about p{
    font: verdana,arial;line-height: 1.7em;text-align: center;width: 730px;color: black;font-size: 12px;
}

.information{
    width: 100%;height: 40%;border-bottom: 2px solid #022F70;
}

.stats_and_favorites{
    width: 93%;height: 60%;margin: auto;
}
table{
    width: 100%;
}
.char_info{
    margin-left: 25%;
}.peop_name{
    margin-right: 25%;
}
.favorites{
    width: 30%;height: 100%;border-right: 1px solid #535C63;float: left;
}
.stats{
    width: 67%;height: 100%;float: right;
}.stats h2{
    font-size: 20px; margin-left: -10px;
}.stats ul{
    padding-top: 20px; font-size: 13px; color: #888;font-family: monospace;list-style: none;line-height: 50px;font-weight: bold;
}.heading_entries{
    padding-top: 9px;
}

.search_form input[type="text"], .search_form input[type="submit"]{
    border: medium none;
    background: none repeat scroll 0% 0% #E2E2E2;
    font-size: 1.05em;
    color: #022F70;
}
.search_form input[type="text"]{
    width: 251px;
}
.search_form input[type="text"], .search_form input[type="submit"],textarea{
    border-radius: 2px;
    transition: all 0.2s ease 0s;
    background: none repeat scroll 0% 0% #FCFCFC;
    border: 1px solid #D9D9D9;
    font-size: 0.75rem;
    outline: medium none;
    padding: 8px;
    box-shadow: none;
}.formsearch{
    width: 21.9%;margin: auto;
}
.heading a{
    color: black; text-decoration: none;
}.heading a:hover{
    color: gray; text-decoration: none;
}

/*	
        Only the footer codes are down there
*/

#footer{
    background-color: #161616;
    border-top: 2px solid #9AA5AD;
    height: 48px;
    text-align: right;
    position: absolute;
    left: 0;
    margin-bottom: 0;
    width: 100%;
}

#footer a{
    padding-right: 5px;
    text-decoration: none;
    font-family: monospace;
    font-size: 0.8em;
    color: #FFF;
}

#footer a:hover{
    color: #4364DA;
}

.footer{
    width: 80%;
}