.container,body{
    height: 100%;width: 100%;
    background: #ECECEC;
}

.top_bar{
    height: 70px;
    width: 98%;
    border-radius: 3px;
    border: 1px solid #E0E3E9;   
    background: none repeat scroll 0% 0% #EFEFEF;
    margin: auto;
}

.top_bar h1{
    width: 80%;
    margin: auto;
    padding-top: 20px;
    color: #3498DB;
    font-size: 30px;
    font: verdana, arial;
}

#menu{
    float: right;margin-top: -18px;
}

ul{
    padding: 0; list-style: none;
}
ul li{
    float: left;
    width: 100px;
    text-align: center;
}

ul li a{
    display: block;
    padding: 8px 10px;
    color: #FFF;
    background: #EFEFEF;
    text-decoration: none;
}

ul li a, ul li ul li{
    text-decoration: none;
    font-family: monospace;letter-spacing: -1px;
    color: #3498DB;
}

ul li a:hover{
    color: #3498DB;
    background: #EFEFEF;
}

ul li ul{
    display: none;
}

ul li ul a:hover{
    background: #9AA5AD;
    color: #121212;
}

ul li:hover ul{
    display: block; /* display the dropdown */
}

.series_description{
    width: 87%;
    height: 300px;
    margin: auto;
    border-bottom: 2px solid #022F70;
}
.series_description #show_name{
    width: 100%;
}

.series_image{
    height: 100%;
    width: 25%;
    margin-left: 15%;
    border-right: 2px groove #022F70;background:url(../Images/ghoul1.jpg) no-repeat scroll center center / cover transparent;
}

.description{
    margin-top: -290px;margin-left: 40.2%;
    height: 289px;
}
.description h1{
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;color: #000;font-size: 1.5em;padding-bottom: 2px;
    font-weight: bolder;width:677px;line-height: 30px;
}
.description h2{
    border-bottom: 2px solid #A7A7A7;font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;color: #7F919E;
    font-weight: bolder;
}
.description p{
    font: verdana,arial;font-size: 13px;line-height: 1.7em;text-align: center;width: 677px;
}

.further_description{
    width:87%;background: #ECECEC;;height: 400px;margin: auto;
}.information{
    height: 100%;width: 25%;margin-left: 176.5px;
    float: left;
}.actors_voice{

}

/*	
        Only the footer codes are down there
*/

#footer{
    background-color: #161616;
    border-top: 2px solid #9AA5AD;
    height: 48px;
    text-align: right;
    position: absolute;
    left: 0;
    margin-bottom: 0;
    width: 100%;
}

#footer a{
    padding-right: 5px;
    text-decoration: none;
    font-family: monospace;
    font-size: 0.8em;
    color: #FFF;
}

#footer a:hover{
    color: #4364DA;
}

.footer{
    width: 80%;
}